TOKEN = string (API_KEY from the FatherBot goes here)
DATABASE_URL string(URL to database with user username and password ):
    mongodb+srv://<username>:<password>@cluster0.ppvpaww.mongodb.net/?retryWrites=true&w=majority